html
{
  overflow: hidden;
}

body
{
  background: rgb(169,107,210);
  background: linear-gradient(90deg, rgba(169,107,210,1) 0%, rgba(218,124,124,1) 50%, rgba(187,138,69,1) 100%);
	background-size: 400% 400%;
	animation: animatedgradient 100s ease infinite;
	height: 100vh;
}

#headline
{
  position:fixed;
  top:0;
  width:100%;
  z-index: 1;
}

#desc-1
{
  padding:2rem;
  margin-top:7rem;
  position:relative;
  width:30rem;
  left:10vw;
  z-index: 0;
}

#desc-1:hover
{
  background: rgba(255, 255, 255, 0.2);
}


#desc-2
{
  margin-top:7rem;
  padding:2rem;
  position:absolute;
  width:35rem;
  right:10vw;
  z-index: 0;
}

#desc-2:hover
{
  background: rgba(255, 255, 255, 0.2);
}

#headline
{
  text-align:center;
}

#proceed
{
  display:block;
  position:absolute;
  text-align:center;
  width:10em;
  margin: auto;
  right:0;
  left:0;
  top:80vh;
}

.bold
{
  font-weight: bold;
}
/*More on borders: https://www.w3schools.com/css/css_border.asp*/
#cameraVideo
{
  display:none;
  margin:auto;
  background: gray;
  margin-top:10em;
  border: gray 8px double;
}

/*Responsive Design*/

/*Animations*/
@keyframes animatedgradient
{
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }

}

@keyframes movedesc1
{
  0%
  {
    left:10vw;
  }

  100%
  {
    left:120vw;
  }
}

@keyframes movedesc2
{
  0%
  {
    right:10vw;
  }

  100%
  {
    right:120vw;
  }
}


@keyframes moveButton
{
  0%
  {
    top:80vh;
  }

  100%
  {
    top:120vh;
  }
}

@keyframes movedesc1-return
{
  0%
  {
    left:120vw;
  }

  100%
  {
    left:10vw;
  }
}

@keyframes movedesc2-return
{
  0%
  {
    right:120vw;
  }

  100%
  {
    right:10vw;
  }
}


@keyframes moveButton-return
{
  0%
  {
    top:120vh;
  }

  100%
  {
    top:80vh;
  }
}






