{% extends "layout.html" %}
{% block title %}Register{% endblock %}
<!-- Main body content-->
{% block main %}
    <div id="section-holder">
        <form action="/register" method="post" id="login">
            <label for="username" id="username-label">Username</label>
            <input type="text"
                   placeholder="username"
                   name="username"
                   id="username"
                   class="form-control-md"
                   required>
            <label for="password" id="password-label">Password</label>
            <input type="password"
                   placeholder="Insert password"
                   name="password"
                   id="password"
                   class="form-control-md"
                   required>
            <input type="password"
                   placeholder="confirm password"
                   name="confirm"
                   id="confirm"
                   class="form-control-md"
                   required>
            <button type="submit" id="submit-btn" class="btn btn-primary">Register</button>
            <!--Call register page when button is pressed-->
        </form>
        <form action="/" method="get">
            <button type="submit" id="to-login" class="btn btn-secondary">Back</button>
        </form>
    </div>
    <h5 class="message">{{ message }}</h5>
{% endblock %}
